<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1><%= city %></h1> 
                <h1><%= weather %></h1>
                <img src= <%= iconURL %> alt="weather icon">
                 <p>Temp: <%= temp %> °C</p>
                <button class="btn btn-primary" href="/" onclick="window.history.back()">Go back</button>
            </div>
            
        </div>
    </div>
    
    
</body>
</html>