<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Weather App</title>
</head>
<body class="text-center bg-blue" >

    <div class="container content">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="mb-2 my-slantfont"><%= city %></h1> 
                <h5 class ="text-muted my-simplefont"><%= weather %></h5>
                <img src= <%= iconURL %> alt="weather icon">
                 <h1 class="mb-2 my-slantfont text-white"><%= temp %>°C</h1>
                <button class="btn btn-warning text-white my-simplefont" href="/" onclick="window.history.back()">Go back</button>
            </div>
            
        </div>
    </div> 
</body>
</html>