@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("../images/index.jpg")
}
.bg-blue{
  background: url("../images/index.jpg");
}
input.my-input {
  background: #cecece30;
  /* border: 2px solid black; */
  border-bottom: 2px solid #8e8e8e;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
button.my-btn{
  border-radius: 0;
  border: none;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.5);
  color: #333;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 5%);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 12px !important;
}
.my-heading{
  font-family: 'Merriweather Sans', sans-serif;
  max-width: 600px;
  margin: auto;
  font-weight: 600;
}
.my-para{
  font-family: 'Merriweather Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}
.form-signin .form-control:focus {
  z-index: 2;
}


.my-card {
  margin: 0 auto;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 2px 4px 10px rgb(0 0 0 / 10%);
}


/* WEATHER SWITCHING IMAGES */

.Clouds{
  background: url("../images/few-clouds.jpg");
}
.Rain{
  background: url("../images/rain.jpg");
}
.Thunderstorm{
  background: url("../images/thunderstrom.jpg");
}
.Snow{
  background: url("../images/snow.jpg");
}
.Mist{
  background: url("../images/mist.jpg");
}
.Clear{
  background: url("../images/clear.jpg");
}
.Haze{
  background: url("../images/haze.jpg");
}
